<!doctype html>
<html lang="en">
  <head>
<!--    <script> window.location="/shop";</script>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Welcome To UBAA Food</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Welcome To UBAA Food</h1>
      <p class="lead">This is a simple project for online food order system.</p>
      <a class="btn btn-primary btn-lg" href="/shop" role="button">User</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Admin</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Employee</a>
      <hr class="my-4">
      <p>UTSAV PANDEY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>C227</b>&emsp;<a href="https://github.com/utsavpandey2056">@utsavpandey</a> </p>
      <p>AMBIKA KARKI&nbsp;&emsp;<b>C203</b>&emsp;<a href="https://github.com/ambika20">@ambika</a> </p>
      <p>AARATI KUMARI MANDAL&nbsp;&emsp;<b>C201</b>&emsp;<a href="https://github.com/ak20">@aarati</a> </p>
      <p>BIPIN POKHREL&nbsp;&emsp;<b>C203</b>&emsp;<a href="https://github.com/rajanr11">@Bipin</a> </p>
      <footer>
        <p>&copy;Copyright</p>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>