<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>esewa merchant payment page</title>
</head>
<body>
<h1>Redirecting you to the merchant....</h1>
<h1>Please do not refresh your page....</h1>
<form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="esewa">
    {% for key, value in Utsav_dict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}

</form>
</body>
<script>
document.esewa.submit()
</script>
</html>
